extends layout
block content

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/flexStyleIndicator.css')

    script.
        var config_obj = !{JSON.stringify(config_obj)};
        var data_obj = !{JSON.stringify(data_obj)};
        var state_obj = !{JSON.stringify(state_obj)};


    script(src="/javascripts/components.js")
    script(src="/javascripts/controller.js")

    script(src="/javascripts/intromap.js")
    script(src="/javascripts/introdensity.js")

    script(src="/javascripts/init_intro.js")

    script.
        var enterApp = function(){
            window.location.href = window.location.protocol + "//" + window.location.host + '/datavis/alcdash/select/AreaReport/CCG/Admission%20episodes%20for%20alcohol-related%20conditions/Male/E38000137/'
        }



    #intro_container
        //img(src='/images/wahsn_logo.png')#wahsnLogo
        br
        h1 Wessex AHSN COPD Profiles
        p Figures from the British Lung Foundation suggest

        br
        h4 An estimated #{" "}
            span.number_text 1.2
            span #{" "} million people are living with diagnosed COPD in the UK.
        br

        h4  Around #{" "}
            span.number_text 4.5%
            span #{" "} of all people aged over 40 in the UK live with diagnosed COPD.

        br
        h4 In 2012 #{" "}
            span.number_text 29,776
            span #{" "} people died from COPD in the UK.

        br
        hr
        .explore_btn.btn.btn-block(onclick="enterApp()") Click here to view the reports!
        hr

        br
        h4 The Wessex AHSN Respiratory Quality Improvement Programme is working to improve the respiratory health of patients in the Wessex region by:

        p Identifying variations in outcomes across Wessex and comparing these with national best practice.
        p Establishing an expert community of respiratory healthcare professionals to evaluate and promote key development opportunities.
        p Work with patient and carer communities to shape patient-centred models of care including patient education, self-management.

        br
        p Working with Public Health data we have pulled together the Wessex Local COPD Profiles from which we can understand the impact COPD has on the local population and NHS services within Wessex. #{" "}
            span In this way we will be able to understand any evolving trends that need to be addressed and measure the impact of our work.


        br


        hr

        .explore_btn.btn.btn-block(onclick="enterApp()") Click here to view the reports!

    include report_footer
